---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Meeting from "../../components/Meeting.astro";
import Breadcrump from "../../components/Breadcrump.astro";

const places = [
  {
    name: "Placówka",
    address: "Biurowiec D48",
    address2: "ul. Domaniewska 58",
    postalCode: "02-467",
    city: "Warszawa",
    img: "/assets/placowka-img.png",
    description:
      "Przedszklole i żłobek Kids&Co. w biurowcu D48 przy Domianiewskiej  na Mokotowie. Przedszkole i żłobek funkcjonują podobnie jak reszta naszych placówek, przez cały rok od poniedziałku do piątku.",
    link: "/placowki",
  },
  {
    name: "Placówka",
    address: "Biurowiec D48",
    address2: "ul. Domaniewska 58",
    postalCode: "02-467",
    city: "Warszawa",
    img: "/assets/placowka-img.png",
    description:
      "Przedszklole i żłobek Kids&Co. w biurowcu D48 przy Domianiewskiej  na Mokotowie. Przedszkole i żłobek funkcjonują podobnie jak reszta naszych placówek, przez cały rok od poniedziałku do piątku.",
    link: "/placowki",
  },
  {
    name: "Placówka",
    address: "Biurowiec D48",
    address2: "ul. Domaniewska 58",
    postalCode: "02-467",
    city: "Warszawa",
    img: "/assets/placowka-img.png",
    description:
      "Przedszklole i żłobek Kids&Co. w biurowcu D48 przy Domianiewskiej  na Mokotowie. Przedszkole i żłobek funkcjonują podobnie jak reszta naszych placówek, przez cały rok od poniedziałku do piątku.",
    link: "/placowki",
  },
];
---

<head> </head>

<Layout title="Welcome to Astro.">
  <Header />
  <Breadcrump
    breadcrumps={[
      {
        name: "Placówki",
        link: "/placowki",
      },
    ]}
  />
  <section class="bg-secondary-200 rounded-t-r_20 py-[74px]">
    <div class="wrapper">
      <div class="max-w-[875px] mx-auto">
        <div class="w-full py-[10px] bg-primary-700 rounded-r_20 mb-8">
          <h2>Nasze placówki</h2>
        </div>
        <form>
          <div class="md:flex gap-4">
            <input
              class="mb-5 md:mb-0 w-full pt-[20px] pr-[31px] pb-[25px] pl-[39px] rounded-lg border border-primary-400 placeholder-primary-400 bg-primary-100 focus:bg-primary-500 focus:outline-none"
              type="text"
              name="city"
              placeholder="Wybierz miasto"
            />
            <button
              class="!mr-0 md:mr-auto btn bg-primary-200 hover:bg-primary-400 hover:text-primary-200"
              type="submit">Szukaj</button
            >
          </div>
          <div class="flex justify-between mt-4 mb-4">
            <button class="flex" type="button">
              <span class="text-xl">Kategorie</span>
              <span
                ><svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 10.8567L6.2425 9.5L12 15.7866L17.7575 9.5L19 10.8567L12 18.5L5 10.8567Z"
                    fill="#094F0C"></path>
                </svg>
              </span>
            </button>
            <button class="flex" type="button">
              <span class="text-base">Wyczyść filtry</span><span
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_168_13059"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect
                      x="24"
                      width="24"
                      height="24"
                      transform="rotate(90 24 0)"
                      fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_168_13059)">
                    <path
                      d="M5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
            </button>
          </div>
          <div class="flex flex-wrap gap-4">
            <label
              class="pl-10 py-5 pr-16 bg-primary-100 focus:bg-primary-500 border border-primary-400 focus:outline-none rounded-xl block relative"
            >
              <input
                type="checkbox"
                name="przedszkola"
                class="opacity-0 peer"
              />
              <span
                class="bg-primary-200 absolute inset-0 opacity-0 z-10 peer-checked:opacity-100 rounded-xl"
              ></span>
              <span class="relative z-20">Przedszkola</span>
              <span
                class="opacity-100 peer-checked:opacity-0 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_1515"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_1515)">
                    <path
                      d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
              <span
                class="opacity-0 peer-checked:opacity-100 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_3927"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_3927)">
                    <path
                      d="M12.99 20.9095L11.0101 20.9095V12.9899L3.09054 12.9899V11.0101L11.0101 11.0101V3.09045L12.99 3.09045L12.99 11.0101H20.9096V12.9899H12.99L12.99 20.9095Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
            </label>
            <label
              class="pl-10 py-5 pr-16 bg-primary-100 focus:bg-primary-500 border border-primary-400 focus:outline-none rounded-xl block relative"
            >
              <input type="checkbox" name="ground" class="opacity-0 peer" />
              <span
                class="bg-primary-200 absolute inset-0 opacity-0 z-10 peer-checked:opacity-100 rounded-xl"
              ></span>
              <span class="relative z-20">Szkoły podstawowe</span>
              <span
                class="opacity-100 peer-checked:opacity-0 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_1515"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_1515)">
                    <path
                      d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
              <span
                class="opacity-0 peer-checked:opacity-100 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_3927"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_3927)">
                    <path
                      d="M12.99 20.9095L11.0101 20.9095V12.9899L3.09054 12.9899V11.0101L11.0101 11.0101V3.09045L12.99 3.09045L12.99 11.0101H20.9096V12.9899H12.99L12.99 20.9095Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
            </label>
            <label
              class="pl-10 py-5 pr-16 bg-primary-100 focus:bg-primary-500 border border-primary-400 focus:outline-none rounded-xl block relative"
            >
              <input
                type="checkbox"
                name="integrations"
                class="opacity-0 peer"
              />
              <span
                class="bg-primary-200 absolute inset-0 opacity-0 z-10 peer-checked:opacity-100 rounded-xl"
              ></span>
              <span class="relative z-20">Placówki integracyjne</span>
              <span
                class="opacity-100 peer-checked:opacity-0 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_1515"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_1515)">
                    <path
                      d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
              <span
                class="opacity-0 peer-checked:opacity-100 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_3927"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_3927)">
                    <path
                      d="M12.99 20.9095L11.0101 20.9095V12.9899L3.09054 12.9899V11.0101L11.0101 11.0101V3.09045L12.99 3.09045L12.99 11.0101H20.9096V12.9899H12.99L12.99 20.9095Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
            </label>
            <label
              class="pl-10 py-5 pr-16 bg-primary-100 focus:bg-primary-500 border border-primary-400 focus:outline-none rounded-xl block relative"
            >
              <input type="checkbox" name="infants" class="opacity-0 peer" />
              <span
                class="bg-primary-200 absolute inset-0 opacity-0 z-10 peer-checked:opacity-100 rounded-xl"
              ></span>
              <span class="relative z-20">Żłobki</span>
              <span
                class="opacity-100 peer-checked:opacity-0 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_1515"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_1515)">
                    <path
                      d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
              <span
                class="opacity-0 peer-checked:opacity-100 absolute right-[20px] z-30"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_3927"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_3927)">
                    <path
                      d="M12.99 20.9095L11.0101 20.9095V12.9899L3.09054 12.9899V11.0101L11.0101 11.0101V3.09045L12.99 3.09045L12.99 11.0101H20.9096V12.9899H12.99L12.99 20.9095Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </span>
            </label>
            <div
              class="px-10 py-5 bg-primary-100 focus:bg-primary-500 border border-primary-400 rounded-xl flex items-center justify-between w-[353px]"
            >
              <button id="minus" type="button"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect x="3" y="11" width="18" height="2" fill="#094F0C"
                  ></rect>
                </svg>
              </button>
              <label
                >Wiek dziecka -
                <input
                  type="number"
                  name="child-age"
                  id="child-age"
                  min="0"
                  step="1"
                  value="0"
                  class="bg-transparent w-[14px] text-lg"
                />lat
              </label>
              <button id="plus" type="button"
                ><svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_362_6086"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  >
                    <rect width="24" height="24" fill="#D9D9D9"></rect>
                  </mask>
                  <g mask="url(#mask0_362_6086)">
                    <path
                      d="M12.99 20.9095L11.0101 20.9095V12.9899L3.09054 12.9899V11.0101L11.0101 11.0101V3.09045L12.99 3.09045L12.99 11.0101H20.9096V12.9899H12.99L12.99 20.9095Z"
                      fill="#094F0C"></path>
                  </g>
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="pt-[56px] pb-[110px] -mb-[38px] bg-white">
    <div class="wrapper">
      <div class="bidder-container">
        <h2 class="mb-8">Warszawa</h2>
        <div class="relative">
          <div id="map" class="z-10"></div>
          <div
            class="rounded-r_20 p-8 bg-secondary-200 max-w-[317px] absolute top-1/3 left-1/4 z-20 opacity-0 customPopup"
          >
            <div class="flex gap-5 items-center bg-white px-4 py-2 mb-3">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <mask
                  id="mask0_174_13742"
                  style="mask-type:alpha"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="24"
                  height="24"
                >
                  <rect width="24" height="24" fill="#D9D9D9"></rect>
                </mask>
                <g mask="url(#mask0_174_13742)">
                  <path
                    d="M4 21V11.625L2.2 13L1 11.4L4 9.1V6H6V7.575L12 3L23 11.4L21.8 12.975L20 11.625V21H4ZM6 19H11V15H13V19H18V10.1L12 5.525L6 10.1V19ZM4 5C4 4.16667 4.29167 3.45833 4.875 2.875C5.45833 2.29167 6.16667 2 7 2C7.28333 2 7.521 1.904 7.713 1.712C7.90433 1.52067 8 1.28333 8 1H10C10 1.83333 9.70833 2.54167 9.125 3.125C8.54167 3.70833 7.83333 4 7 4C6.71667 4 6.479 4.09567 6.287 4.287C6.09567 4.479 6 4.71667 6 5H4Z"
                    fill="#094F0C"></path>
                </g>
              </svg>
              <p class="text-sm font-bold">Przedszkole Wilanów</p>
            </div>
            <div class="flex gap-5 items-center bg-white px-4 py-2 mb-3">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <mask
                  id="mask0_174_13747"
                  style="mask-type:alpha"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="24"
                  height="24"
                >
                  <rect width="24" height="24" fill="#D9D9D9"></rect>
                </mask>
                <g mask="url(#mask0_174_13747)">
                  <path
                    d="M7 17H14V15H7V17ZM7 13H17V11H7V13ZM7 9H17V7H7V9ZM5 21C4.45 21 3.979 20.8043 3.587 20.413C3.19567 20.021 3 19.55 3 19V5C3 4.45 3.19567 3.979 3.587 3.587C3.979 3.19567 4.45 3 5 3H19C19.55 3 20.021 3.19567 20.413 3.587C20.8043 3.979 21 4.45 21 5V19C21 19.55 20.8043 20.021 20.413 20.413C20.021 20.8043 19.55 21 19 21H5ZM5 19H19V5H5V19Z"
                    fill="#094F0C"></path>
                </g>
              </svg>

              <p class="text-sm font-bold">Al. Rzeczpospolitej 23</p>
            </div>
            <div class="flex gap-5 items-center bg-white px-4 py-2">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.95 21C17.8 21 15.7043 20.5207 13.663 19.562C11.621 18.604 9.81267 17.3373 8.238 15.762C6.66267 14.1873 5.396 12.379 4.438 10.337C3.47933 8.29567 3 6.2 3 4.05C3 3.75 3.1 3.5 3.3 3.3C3.5 3.1 3.75 3 4.05 3H8.1C8.33333 3 8.54167 3.075 8.725 3.225C8.90833 3.375 9.01667 3.56667 9.05 3.8L9.7 7.3C9.73333 7.53333 9.72933 7.74567 9.688 7.937C9.646 8.129 9.55 8.3 9.4 8.45L6.975 10.9C7.675 12.1 8.55433 13.225 9.613 14.275C10.671 15.325 11.8333 16.2333 13.1 17L15.45 14.65C15.6 14.5 15.796 14.3873 16.038 14.312C16.2793 14.2373 16.5167 14.2167 16.75 14.25L20.2 14.95C20.4333 15 20.625 15.1123 20.775 15.287C20.925 15.4623 21 15.6667 21 15.9V19.95C21 20.25 20.9 20.5 20.7 20.7C20.5 20.9 20.25 21 19.95 21ZM6.025 9L7.675 7.35L7.25 5H5.025C5.10833 5.68333 5.225 6.35833 5.375 7.025C5.525 7.69167 5.74167 8.35 6.025 9ZM14.975 17.95C15.625 18.2333 16.2877 18.4583 16.963 18.625C17.6377 18.7917 18.3167 18.9 19 18.95V16.75L16.65 16.275L14.975 17.95Z"
                  fill="#094F0C"></path>
              </svg>

              <p class="text-sm font-bold">+48 501 393 891</p>
            </div>
          </div>
        </div>
        <div class="grid gap-y-8">
          {
            places &&
              places.map((item, index) => {
                return (
                  <div
                    class={`grid md:flex gap-x-4 ${
                      index % 2 === 0 ? "" : "flex-row-reverse"
                    }`}
                  >
                    <div class="md:w-1/2 mb-4 md:mb-0">
                      <img
                        src={item.img}
                        alt={item.name}
                        width="542"
                        height="408"
                        class={`rounded-r_20 w-full`}
                      />
                    </div>
                    <div
                      class={` md:w-1/2 pt-[52px] pr-[44px] pb-[44px] pl-[52px] bg-secondary-200 rounded-r_20 `}
                    >
                      <div class="flex gap-5 mb-4 items-center">
                        <svg
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M15.9997 16.1667C16.5955 16.1667 17.1058 15.9544 17.5304 15.5297C17.9544 15.1058 18.1663 14.5959 18.1663 14C18.1663 13.4042 17.9544 12.894 17.5304 12.4693C17.1058 12.0453 16.5955 11.8334 15.9997 11.8334C15.4038 11.8334 14.894 12.0453 14.47 12.4693C14.0453 12.894 13.833 13.4042 13.833 14C13.833 14.5959 14.0453 15.1058 14.47 15.5297C14.894 15.9544 15.4038 16.1667 15.9997 16.1667ZM15.9997 24.1292C18.2025 22.107 19.8365 20.2697 20.9018 18.6172C21.967 16.9655 22.4997 15.4987 22.4997 14.2167C22.4997 12.2487 21.8721 10.637 20.6168 9.38179C19.3623 8.12729 17.8233 7.50004 15.9997 7.50004C14.1761 7.50004 12.6366 8.12729 11.3814 9.38179C10.1269 10.637 9.49967 12.2487 9.49967 14.2167C9.49967 15.4987 10.0323 16.9655 11.0976 18.6172C12.1629 20.2697 13.7969 22.107 15.9997 24.1292ZM15.9997 27C13.0927 24.5264 10.9217 22.2287 9.48667 20.1068C8.0509 17.9856 7.33301 16.0223 7.33301 14.2167C7.33301 11.5084 8.20437 9.35074 9.94709 7.74379C11.6891 6.13685 13.7066 5.33337 15.9997 5.33337C18.2927 5.33337 20.3103 6.13685 22.0523 7.74379C23.795 9.35074 24.6663 11.5084 24.6663 14.2167C24.6663 16.0223 23.9488 17.9856 22.5138 20.1068C21.078 22.2287 18.9066 24.5264 15.9997 27Z"
                            fill="#094F0C"
                          />
                        </svg>
                        <h5>{item.name}</h5>
                      </div>
                      <p class="text-lg font-medium">{item.address}</p>
                      <p class="text-lg font-medium">{item.address2}</p>
                      <p class="text-lg font-medium">
                        {item.postalCode} {item.city}
                      </p>
                      <p class="text-lg font-medium mt-4 mb-8">
                        {item.description}
                      </p>
                      <a class="btn primary max-w-max !p-5 !ml-0">
                        Pokaz więcej
                      </a>
                    </div>
                  </div>
                );
              })
          }
        </div>
      </div>
    </div>
  </section>
  <Meeting />
  <Footer />
</Layout>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>

<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>
<script is:inline src="script.js"></script>
